html {
    background-color: #808080;
  }
h1 {
    color: white;
}

.kw1 {
    width:200px;
    height: 200px;
    background-color: #fea500;
}

.kw2 {
    width:200px;
    height: 200px;
    background-color: #fea500;
}

.kw3 {
    width:200px;
    height: 200px;
    background-color: #fea500;
}

.kw4 {
    width:200px;
    height: 200px;
    background-color: #fea500;
}


